<% if @errors %>
  <div id="errors-container" class="mb-2">
    <% @errors.each do |error| %>
      <div class="error"> <%= error %> </div>
    <% end %>

    <button class="button" onclick="document.getElementById('errors-container').remove();">
      Clear errors
    </button>
  </div>
<% elsif flash[:alert] %>
  <div id="errors-container" class="mb-2">
    <div class="error"> <%= flash[:alert] %> </div>
    <button class="button" onclick="document.getElementById('errors-container').remove();">
      Clear error
    </button>
  </div>
<% end %>

