<% if flash[:notice] %>
  <div id="messages-container" class="mb-2">
    <div class="message"> <%= flash[:notice] %> </div>
    <button class="button" onclick="document.getElementById('messages-container').remove();">
      Clear message
    </button>
  </div>
<% end %>
