<div>
  <div class="grid grid-cols-3">
    <div class="col-span-1">
      <%= image_tag(@product.image_url) %>
    </div>
    <div class="col-span-2">
      <p><%= @product.description %></p>
    </div>

  </div>
</div>
