<div>
  <div class="grid grid-cols-3 gap-1">
    <div class="col-span-1">
      <%= image_tag(@product.image_url, class: 'mb-4 mx-auto', height: '200', style: 'max-height: 300px') %>
      <div class="flex justify-center">
        <span class="text-xl mx-auto"><%= @product.get_price('USD') %> USD</span>
      </div>
      <div>
        <button class="secondary-button bg-yellow-400 border-2 border-orange-500 hover:border-yellow-400 mx-auto block">Add to cart</button>
      </div>
    </div>
    <div class="col-span-2">
      <h1 class="bold" style="font-size: 30px;"><%= @product.name %></h1>
      <p class="overflow-y-hidden" style="max-height: 300px;">
        <%= @product.description %>     
      </p>
      <button class="secondary-button" onclick="toggleDescription(this, this.previousElementSibling, 300)">Show more</button>
    </div>

  </div>
</div>
